*{
    margin: 0;
    padding: 0;
}
body{
    margin-left: 10%;
    margin-right: 10%;
    background-color: rgb(253,252,248);
}
/* 头部 */
.header {
    text-align: left;
    background-color: rgb(253,252,248);
}
#form{
    float: right;
    margin-top: 55px;
}
.form_son{
    width: 210px;
    height: 20px;
}
#go{
    background-color: rgb(174,65,65);
    color: white;
}

/* 导航 */
.navbar {
    display: block;
    background-color: rgb(232,231,228);
}

/* 导航栏样式 a标签 */
.navbar a {
    display: block;
    color: rgb(160,158,158);
    font-size: 16px;
    font-family: "微软雅黑", serif ;
    padding: 14px 17px;
    text-decoration: none;
}

.navbar table {
    border: 0;
    width: 100%;
}

.navbar th:hover {
    background-color: black;
    text-align: center;
}
/* 列容器 */
.row {
    display: grid;
    grid-template-columns: 15% 70% 15%;
}

/* 左边栏 */
#left_side {
    flex: 30%;
    background-color: rgb(253,252,249);
    padding: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(218,215,215);
    border-width: 1px;
}
#left_side ul {
    list-style-type: none;
    font-size: 10px;
    line-height:30px;
}
#left_side li{
    margin-left: -20px;
    width: 180px;
    height: auto;
    padding-left: 20px;
}

#left_side li:hover{
    background-color: rgb(170,170,170);
    color:rgb(250,255,255);
    text-align: left;
}
#left_side h2 {
    font-size: 18px;
    margin-left: -10px;
    margin-top: 8px;
    margin-bottom: 15px;
    line-height:10px;
}
/*中间主体*/
.main {
    flex: 70%;
    background-color: rgb(253,252,249);
    padding: 20px;
}
.message h1{
    font-size: 23px;
    color: #3f3f3f;
}

.message p{
    font-size: 18px;
    margin-top: 10px;
}
#m1 {
    text-align: center;
    margin-top: 37px;
    margin-bottom: 40px;
}
#m2 {
    display: flex;
    align-items: center;
    text-align: left;
    border-top-style:solid;
    border-color: rgb(189,185,185);
    border-width: 1px;
    margin-top: 37px;
    margin-bottom: 35px;
}

#m3 {
    display: flex;
    align-items: center;
    text-align: left;
    border-top-style:solid;
    border-color: rgb(189,185,185);
    border-width: 1px;
    margin-top: 37px;
    margin-bottom: 35px;
}
/*图片*/
.picture {
    margin-left: 50px;
    margin-right: 12px;

}
.picture img {
    width: 50px;
}
/*右边栏*/
#right_side {
    flex: 30%;
    background-color: rgb(253,252,249);
    padding: 20px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(218,215,215);
    border-width: 1px;
}

#right_side ul {
    list-style-type: none;
    font-size: 10px;
    line-height:30px;
}
#right_side li{
    margin-left: -20px;
    width: 163px;
    height: auto;
    padding-left: 20px;
}

#right_side li:hover{
    background-color: rgb(189,45,48);
    color:rgb(250,255,255);
    text-align: left;
}
#right_side h2 {
    font-size: 18px;
    margin-left: -10px;
    margin-top: 8px;
    margin-bottom: 15px;
    line-height:10px;
}